[submodule "flashinfer"]
	path = flashinfer
	url = https://github.com/flashinfer-ai/flashinfer
[submodule "rust-llama.cpp"]
	path = rust-llama.cpp
	url = https://github.com/elans2/rust-llama.cpp
[submodule "llama-cpp-rs"]
	path = llama-cpp-rs
	url = https://github.com/utilityai/llama-cpp-rs
